/*Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navigation Bar*/

/*Main Layout*/

/*Index Page (Tharanga)*/

/*Gallery Page (Khadija)*/

/*Contact Page (Emil)*/

/*about Page (Indushah)*/

/*Footer*/
